.error0 {
  background-color: #dff0d8; /*success*/
}
.error1 {
  background-color: #d9edf7; /*info*/
}
.error2 {
  background-color: #fcf8e3; /*warning*/
}
.error3 {
  background-color: #fcf8e3; /*average*/
}
.error4 {
  background-color: #f2dede; /*high*/
}
.error5 { 
  background-color: #f2dede; /*disaster*/
}
.error {
  background-color: #f2dede;
}
.success {
  background-color: #dff0d8;
}
.loading-indicator {
  position: absolute; 
  left: 0; 
  top: 35px; 
  display: none; 
  background: gold; 
  padding: 0.3em; 
  font-weight: bold; 
}
.login-container {
  margin: 0 auto;
  width: 500px;
}
.server20, .server00, .server21, .server01 {
  display: inline-block;
  *display: inline;
  zoom: 200%;
  background-color: red;
  padding: 2px;
  margin: 2px;
}
a.serverLink20, a.serverLink00, a.serverLink21, a.serverLink01{
  color: white;
}
.server10 {
  display: inline-block;
  *display: inline;
  background-color: #f5f5f5;
  padding: 2px;
  margin: 2px;
}
a.serverLink10{
  color: #7A6A71;
}
