.server {
  display: inline-block;
  *display: inline;
  background-color: #f5f5f5;
  padding: 2px;
  margin: 2px;
}
.error0{
  background-color: #dff0d8; /*success*/
}
.error1{
  background-color: #BBCCFF; /*info*/
}
.error2 {
  background-color: #FFF6A5; /*warning*/
}
.error3{
  background-color: #FFB689; /*average*/
}
.error4{
  background-color: #FF9999; /*high*/
}
.error5{ 
  background-color: #FF3838; /*disaster*/
}
.loading-indicator {
  position: absolute; 
  left: 0; 
  top: 50px; 
  display: none; 
  background: gold; 
  padding: 0.3em; 
  font-weight: bold; 
}
.login-container {
  margin: 0 auto;
  width: 500px;
}
a.serverLink{
  color: #7A6A71;
}
[ng\:cloak], [ng-cloak], .ng-cloak { /*IE8 dammit*/
  display: none !important;
}
a.underlined {
  text-decoration:underline;
}
h4.groupNames {
  margin: 5px 0 2px 0;
}
.zoomUp {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
}