.error0 {
  background-color: #dff0d8; /*success*/
}
.error1 {
  background-color: #d9edf7; /*info*/
}
.error2 {
  background-color: #fcf8e3; /*warning*/
}
.error3 {
  background-color: #fcf8e3; /*average*/
}
.error4 {
  background-color: #f2dede; /*high*/
}
.error5 { 
  background-color: #f2dede; /*disaster*/
}
.error {
  background-color: #f2dede;
}
.success {
  background-color: #dff0d8;
}
.loading-indicator {
  position: absolute; 
  left: 0; 
  top: 35px; 
  display: none; 
  background: gold; 
  padding: 0.3em; 
  font-weight: bold; 
}
.login-container {
  margin: 0 auto;
  width: 500px;
}
.server {
  display: inline-block;
  *display: inline;
  background-color: #f5f5f5;
  padding: 2px;
  margin: 2px;
}
a.serverLink{
  color: #7A6A71;
}
.server.error1 {
  background-color: lightblue; /*warning*/
  zoom: 125%;
}
.server.error2 {
  background-color: gold; /*warning*/
  zoom: 150%;
}
.server.error3 {
  background-color: red; /*warning*/
  zoom: 175%;
}
.server.error4 {
  background-color: red; /*warning*/
  zoom: 200%;
}
.server.error5 {
  background-color: red; /*warning*/
  zoom: 250%;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}