<div class="container-fluid">
  <caption>
    <h3>Servers of {{hostgroupData.name}} </h3> 
  </caption>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Host name</th>
        <th>Available</th>
        <th></th>
        <th>Jenkins status</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="host in hostgroupData.hosts">
          <td><a href="#/servers/{{host.hostid}}">{{host.host}}</a></td>
          <td ng-show="host.available==0" class="error">Down</td>
          <td ng-show="host.available==2" class="error">Error</td>
          <td ng-show="host.available==1" class="success">Up</td>
          <td>?????</td>
          <td>?????</td>
        </tr>
    </tbody>
  </table>
</div>