<script src="js/highcharts.js"></script>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span11" id="masterTimeline"></div>
    <div class="span1">
      <small>
        <a ng-click="setZoom(48)">48 hrs</a><br/>
        <a ng-click="setZoom(168)">7 days</a><br/>
        <a ng-click="setZoom(672)">30 days</a><br/>
      </small>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span6" id="cpuGraph">
    </div>
    <div class="span6" id="loadGraph">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span8" id="memoryGraph">

      <div class="row-fluid">
        <div class="span6" id="diskIOGraph"></div>
        <div class="span6" id="networkIOGraph"></div>
      </div>
    </div>
    <div class="span4" id="generalInfo">
      <table class="table table-condensed">
        <caption>Current statistics of SERVER_NAME</caption>
        <thead>
          <tr>
            <th>key</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
          </tr>
          <tr>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>3</td>
            <td>4</td>
          </tr> 
          <tr>
            <td>3</td>
            <td>4</td>
          </tr>
          <tr>
            <td>3</td>
            <td>4</td>
          </tr> 
          <tr>
            <td>3</td>
            <td>4</td>
          </tr> 
          <tr>
            <td>3</td>
            <td>4</td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>