<!-- <div class="container-fluid">
    <figure ng-cloak>
      <img width=800 height=100 ng-cloak ng-src="http://zabbixcm02.internal.corp/zabbix/chart2.php?graphid={{hostData[0].graphs[currentPage-1].graphid}}&width=800&period={{currentZoom}}">
      <figcaption>
        Graph #{{currentPage}}
      </figcaption>
    </figure>
    <div>
      <pagination style="align: auto" num-pages="noOfPages" current-page="currentPage"></pagination>

    </div>
</div>
 -->

<div class="container">
  <div class="span12" id="masterTimeline" style="height:80px">
        <input type="text" ng-model="zoom">
      <button class="btn" type="button" ng-click="setZoom(zoom)">Set Zoom</button>
    </div>
  <div class="row">
    <div class="span8" id="cpuGraph">
      <figure ng-cloak>
        <img width=800 height=100 ng-cloak ng-src="http://zabbixcm02.internal.corp/zabbix/chart2.php?graphid={{hostData[0].graphs[currentPage-1].graphid}}&period={{currentZoom}}">
      </figure>
    </div>
    <div class="span4" id="loadGraph">
      <figure ng-cloak>
        <img width=100% height=100 ng-cloak ng-src="http://zabbixcm02.internal.corp/zabbix/chart2.php?graphid={{hostData[0].graphs[currentPage-1].graphid}}&period={{currentZoom}}">
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="span8" id="physDisk">
      <figure ng-cloak>
        <img width=800 height=100 ng-cloak ng-src="http://zabbixcm02.internal.corp/zabbix/chart2.php?graphid={{hostData[0].graphs[currentPage-1].graphid}}&period={{currentZoom}}">
      </figure>
      <div class="row">
        <div class="span6" id="diskIOGraph">
          <figure ng-cloak>
            <img width=800 height=100 ng-cloak ng-src="http://zabbixcm02.internal.corp/zabbix/chart2.php?graphid={{hostData[0].graphs[currentPage-1].graphid}}&period={{currentZoom}}">
          </figure>
        </div>
        <div class="span6" id="networkIOGraph">
          <figure ng-cloak>
            <img width=800 height=100 ng-cloak ng-src="http://zabbixcm02.internal.corp/zabbix/chart2.php?graphid={{hostData[0].graphs[currentPage-1].graphid}}&period={{currentZoom}}">
          </figure>          
        </div>
      </div>
    </div>
    <div class="span4" id="generalInfo">
      <p>Lorem Ipsum – tas ir teksta salikums, kuru izmanto poligrāfijā un maketēšanas darbos. Lorem Ipsum ir kļuvis par vispārpieņemtu teksta aizvietotāju kopš 16. gadsimta sākuma. Tajā laikā kāds nezināms iespiedējs izveidoja teksta fragmentu, lai nodrukātu grāmatu ar burtu paraugiem. Tas ir ne tikai pārdzīvojis piecus gadsimtus, bet bez ievērojamām izmaiņām saglabājies arī mūsdienās, pārejot uz datorizētu teksta apstrādi. Tā popularizēšanai 60-tajos gados kalpoja Letraset burtu paraugu publicēšana ar Lorem Ipsum teksta fragmentiem un, nesenā pagātnē, tādas maketēšanas programmas kā Aldus PageMaker, kuras šablonu paraugos ir izmantots Lorem Ipsum teksts.</p>
    </div>
  </div>
</div>