<div class="container-fluid">
  <div class="input-prepend" class="span10">
    <span class="add-on">Filter:</span>
    <input ng-model="filterString" id="filterInput" class="input-block-level" type="text">
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Host name</th>
        <th>Zabbix agent</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="host in hostsData | filter:filterString">
          <td><a href="#/servers/{{host.hostid}}">{{host.name}}</a></td>
          <td ng-show="host.available==0" class="error3">Down</td>
          <td ng-show="host.available==2" class="error3">Error</td>
          <td ng-show="host.available==1" class="error0">Up</td>
        </tr>
    </tbody>
  </table>
</div>